/* 
Ejercicio compoleto con HTML y CSS
1. Crear un documento HTML y vincularlo con un CSS
2. Crear una estructura HTML que cuente con un CONTENEDOR GENERAL,
    CABECERA, MENU, BARRA LATERAL, SECCION DE CONTENIDO PARCIAL,
    ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL, Y FOOTER.
3. Todo el contenido debe estar dentro del contenedor general,
    y su ancho será de 1200px y centrado
4. Header debe ocupar el 100% del ancho y tener texto grande
    centrado.
5. Menu debe tener los elementos uno al lado del otro
6. El contenido principal debe tener un ancho del 70%
7. El contenido dentro del contenedor principal debe ser
    una cuadricula con 4 lineas de 2 cajas
8. La barra lateral debe tener un ancho 30%
9. El footer debe tener un ancho del 100% del div que lo contiene 
    y estar abajo del todo.
*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#general {
    width: 1200px;
    border: 1px solid #ccc;
    margin: 0px auto; /* Centrarme el elemento en medio de la página */
    margin-top: 20px;
}

#header {
    width: 100%;
    /* height: 100px; */
    font-size: 25px;
    text-align: center;
    background-color: lightblue;
    color: white;
    line-height: 100px;
}