#boton {
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgb(5, 80, 5);
}

#boton:hover {
    border-radius: 15px;
    background-color: greenyellow;
    border: 3px solid rgb(119, 190, 11);
    /* APLICAR UNA TRANSICION */
    transition: all 2s; /* transition: todas-las-propiedades-css 2-segundos */
    transition: all 500ms; /* milisegundos */
    transition: border 1s; /* transition: solo-al-border 1-segundo */
    /* puedo agruparlos */
    transition: border 500ms, background-color 3s, border-radius 1s;
}