
#caja {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    background-color: lightblue;
    color: white;
    border: 5px solid black;

    font-size: 20px;
    text-align: center;
    line-height: 200px;
    animation-name: desplazamiento;
    animation-duration: 10s;
    /* si la quiero hacer infinita o no */
    animation-iteration-count: infinite;
    /* cambiar el timing */
    /* linear: todo el rato a la misma velocidad */
    animation-timing-function: linear;

}

/* @keyframes desplazamiento {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 1200px;
    }
} */

@keyframes desplazamiento {
    0%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
    50%{
        margin-left: 1200px;
        transform: rotate(360deg);
        border-radius: 100%;
    }
    75%{
        background-color: red;
    }
    100%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
}