/* note: por defecto ya tienen márgenes asignados en los estilos por defecto los elementos html */

/* resetear margen y padding */
* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 40px;
}

#cajas {
    max-width: 688px;
    border: 1px solid black;
}

.caja {
    /* alto y ancho */
    width: 250px;
    height: 250px;
    /* asignar ancho máximo y ancho mínimo a una caja */
    /* min-width: ; */
    /* max-width: ; */
    background-color: lightblue;
    /* borde: tamaño estilo color */
    border: 10px solid red;
    /* margenes */
    margin: 15px; /* margen general */
    margin-top: 15px;
    margin-bottom: 40px;
    margin-left: 24px;
    margin-right: 10px;
    /* margen interno */
    padding: 20px;
    padding-bottom: 34px;
    /* ### POSICIONAMIENTO ### */
    /* display:  block (como caja) - inline(texto -imagenes)*/
    display: block;
    /* float: left - right - none (default) */
    float: right; /* solo aplicable a elem display block */
}

.caja p {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 240px; /* altura del texto */
    /* border: 1px solid blue; */
}

.clearfix {
    float: none;
    clear: both; /* limpia los flotados en left y right */
}