body {
    /* background puedo aplicar varias cosas */
    /* background: red imagen repeticion posicion; */
    /* recomendaría poner la propiedad más especifica */
    background-color: #ccc;
    /* imagen como fondo */
    background-image: url("./img/patron1.jpg");
    /* repetir fondo (en x, y, no repetir) */
    background-repeat: no-repeat;
    /* definir el tamaño del fondo*/
    background-size: 100%;
    /* fondo fijo */
    background-attachment: fixed;
    /* posiciona el fondo */
    background-position: bottom left;
    color: black;
    text-align: justify;

    /* indentacion en cada salto de parrafo */
    text-indent: 20px;
    /* modificar espacio entre palabras */
    word-spacing: 10px;
    /* modificar espacio entre letras */
    letter-spacing: 5px;
}

#caja {
    border: 5px solid black;
    padding: 10px;
    background-color: rgb(79, 156, 219);
    /* color de texto */
    color: white;
    /* cambiar fuente */
    font-family: "Open Sans";
    /* ajustar alineamiento */
    text-align: center; /* se aplica a todos los elementos en linea (imagenes) */
    /* ajustar altura de linea */
    line-height: 50px;
    /* modificar texto a mayus, minus, cap */
    text-transform: uppercase;
    /* pone una linea arriba, en el centro, o abajo del texto */
    text-decoration: overline;
}

h2 {
    color: black;
    background-color: white;
    background-image: url("./img/summer.jpg");
    border: 5px solid red;
}